<html>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/index.css">
    <body>
        <% include public/header %>
        <h1><%= title %></h1>
        <div class="div100"></div>
        <% include public/footer %>
    </body>
</html>